/* Палитра цветов макета
h1-color: #FFFFFF;
accent-color: #2196F3;
main-color: #212121;
logo-black:color: #000000;
text-color: #757575;
main-grey: #757575;
*/

:root {
	--text-color: #757575;
	--white-color: #ffffff;
	--accent-color: #2196f3;
	--subheading-color: #212121;
	--black: #000000;
	--address: rgba(255, 255, 255, 0.6);
	--filter-button-bcg: #f5f4fa;
	--horizontal-line: #e5e5e5;
	--social-link-footer: rgba(255, 255, 255, 0.1);
	--sign-up-border-color: rgba(255, 255, 255, 0.3);
	--our-clients-section: #afb1b8;
	--image-overflow: rgba(33, 150, 243, 0.9);
	--we-do-overflow: rgba(47, 48, 58, 0.8);
	--background: #2f303a;
	--modal-window-backdrop: rgba(0, 0, 0, 0.2);
	--modal-form-field: rgba(33, 33, 33, 0.2);
	--textarea-placeholder: rgba(117, 117, 117, 0.5);
}

* {
	font-style: normal;
	box-sizing: border-box;
}

body {
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
	color: var(--text-color);
	text-decoration: none;
	letter-spacing: 0.03em;
}

.container {
	width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}

/* header */

.logo {
	font-family: Raleway, sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	letter-spacing: 0.03em;
	color: var(--black);
}

.logo-blue {
	color: var(--accent-color);
}

.logo-black {
	color: var(--black);
}

.link {
	text-decoration: none;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover,
.link:focus {
	color: var(--accent-color);
}

.nav-link {
	padding-top: 32px;
	padding-bottom: 32px;
	display: block;
}
.nav {
	color: var(--subheading-color);
}
.list-item {
	list-style: none;
	padding: 0;
	margin: 0;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
}

.active {
	position: relative;
}

.active::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0px;
	width: 100%;

	background-color: var(--accent-color);
	height: 4px;
	border-radius: 2px;
}

.address-header {
	color: var(--text-color);
	display: flex;
	align-items: center;
}

li .address-links {
	color: var(--address);
	text-decoration: none;
	line-height: 1.71;
}

.footer-address-links {
	text-decoration: none;
	list-style: none;
	padding-left: 0;
}
.address-text {
	color: var(--white-color);
	line-height: 1.71;
	margin-top: 0;
	margin-bottom: 8px;
}

.background {
	background-color: var(--background);
	line-height: 1.71;
}

.hero {
	background-color: var(--background);
	line-height: 1.71;
	max-width: 1600px;
	height: 600px;
	margin-left: auto;
	margin-right: auto;
}

.overlay {
	max-width: 1600px;
	height: 600px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
	background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
		url(../images/hero-photo.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.hero-title {
	margin-top: 0;
	margin-bottom: 30px;
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	text-align: center;
	text-transform: uppercase;
	color: var(--white-color);
	letter-spacing: 0.06em;
}

.button {
	display: inline-block;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.87;
	color: var(--white-color);
	background-color: var(--accent-color);
	letter-spacing: 0.06em;
	border-radius: 4px;
	border: 1px solid transparent;
	padding: 10px 32px;
	min-width: 200px;
	height: 50px;
	text-align: center;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
	color: var(--accent-color);
	background-color: var(--white-color);
}

.section {
	padding-top: 94px;
	padding-bottom: 94px;
	margin-top: 0;
	margin-bottom: 0;
}

.we-do-section {
	padding-bottom: 94px;
	margin-bottom: 0;
	margin-top: 0;
}

.we-do-overflow {
	position: relative;
}

.we-do-subscription {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 24%;
	margin-top: 0;
	margin-bottom: 0;
	background-color: var(--we-do-overflow);
	color: var(--white-color);
	font-weight: 700;
	line-height: 1.14;
	text-transform: uppercase;
	padding-top: 27px;
	padding-bottom: 27px;
}

.we-do-overflow > .we-do-subscription {
	text-align: center;
}

.we-do-overflow > img {
	display: block;
}

.subtitle {
	font-weight: 700;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--subheading-color);
	margin-top: 0;
	margin-bottom: 10px;
}
.list-item-main {
	list-style: none;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 0px;
	margin-right: 0;
	padding-left: 0;
	display: flex;
	align-items: center;
}

.features-list-main {
	max-width: 270px;
	height: 251px;
}

.features-list-block {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 30px;
	width: 270px;
	height: 120px;
	background-color: var(--filter-button-bcg);
}

.features-list-image {
	display: block;
}

.our-team-section {
	padding-top: 94px;
	padding-bottom: 94px;
	margin-top: 0;
	margin-bottom: 0;
	background-color: var(--filter-button-bcg);
	max-width: 1600px;
	margin-left: auto;
	margin-right: auto;
	height: 708px;
}

.list-item-main li:not(:first-child) {
	margin-left: 30px;
}

.list-item-main h3,
.list-item-main p {
	text-align: left;
	margin-left: 0;
}

.list-item-main p {
	line-height: 1.71;
}

.list-item-main h4.image-heading,
.list-item-main p.image-text {
	text-align: center;
}

.team-social-links {
	display: flex;
	align-items: center;
	justify-content: center;
	list-style: none;
	padding-left: 0;
	padding-right: 0;
	margin-left: auto;
	margin-right: auto;
	max-width: 206px;
	height: 44px;
}

.team-social-links > li.team-social-link-button {
	margin-left: 0;
	margin-right: 0;
}

.team-social-links-image {
	fill: var(--our-clients-section);
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link-button:not(:last-child) {
	margin-right: 10px;
}

.team-button {
	width: 44px;
	height: 44px;
	border: 1px solid transparent;
	border-radius: 50%;
	background-color: var(--white-color);
	margin-left: 0;
	margin-right: 0;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-list-item {
	width: 270px;
	height: 428px;
	background-color: var(--white-color);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
}

.link-for-team-social-link > .team-button:hover,
.link-for-team-social-link > .team-button:focus {
	background-color: var(--accent-color);
}
.link-for-team-social-link > .team-button:hover > .team-social-links-image {
	fill: var(--white-color);
}

.heading {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.17;
	text-align: center;
	color: var(--subheading-color);
	margin-bottom: 50px;
}

.image-heading {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.19;
	color: var(--subheading-color);
}

.image-text {
	font-size: 16px;
	line-height: 1.19;
}

.portfolio-image-heading {
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
	color: var(--subheading-color);
	letter-spacing: 0.06em;
	margin-top: 0;
	margin-bottom: 4px;
}

.portfolio-image-subheading {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.87;
	letter-spacing: 0.03em;
	color: var(--text-color);
	letter-spacing: 0.03em;
	margin-top: 0;
	margin-bottom: 0;
}

.filter-list {
	list-style: none;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.62x;
	letter-spacing: 0.03em;
	margin-top: 0;
	margin-bottom: 34px;
}

.filter-button {
	display: inline-block;
	color: var(--subheading-color);
	background-color: var(--filter-button-bcg);
	min-width: 130px;
	text-align: center;
	border-radius: 4px;
	border: 1px solid transparent;
	padding: 6px 22px;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.62;
	border-radius: 4px;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
		box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button:hover,
.filter-button:focus {
	color: var(--white-color);
	background-color: var(--accent-color);
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

h1 > span,
h2 > span {
	display: none;
	margin-bottom: 0;
}

h1 {
	margin-top: 0;
	margin-bottom: 30px;
}

h2 {
	margin-top: 0;
	margin-bottom: 50px;
}

h3 {
	margin-top: 0;
	margin-bottom: 10px;
}

.menu {
	display: flex;
	align-items: center;
}

.menu li:not(:last-child) {
	margin-right: 50px;
}

.portfolio-menu {
	display: flex;
	justify-content: center;
	margin-bottom: 34px;
}

.portfolio-menu li:not(:last-child) {
	margin-right: 8px;
}

.page-header {
	align-items: center;
	margin-top: 0;
	margin-bottom: 0;
}

.header-border {
	border-bottom: 1px solid var(--horizontal-line);
}

ul.card-set {
	display: flex;
	flex-wrap: wrap;
	margin-top: 0;
	margin-right: -30px;
	margin-bottom: -30px;
	padding: 0;
	list-style: none;
	align-content: stretch;
}

.card-set > .item {
	border: 1px solid var(--filter-button-bcg);
}

.card-set > .item:hover {
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.item {
	box-sizing: border-box;
	margin-right: 30px;
	margin-bottom: 30px;
	width: calc((100% - 3 * 30px) / 3);
}

.card-set > li img {
	width: 100%;
}

.link-card-set {
	text-decoration: none;
}

.card-set .item:hover,
.card-set .item:focus {
	opacity: 1;
}

.card-image-overflow {
	position: relative;
	overflow: hidden;
}

.card-image-overflow > img {
	display: block;
}

.overflow-text {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--image-overflow);
	color: var(--white-color);
	padding: 63px 24px;
	font-size: 18px;
	line-height: 1.56;
	letter-spacing: 0.03em;
	transform: translateY(100%);
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overflow-text > p {
	margin-top: 0;
	margin-bottom: 0;
}

.card-set > .item:hover .overflow-text {
	transform: translateY(0);
}

.card-text {
	padding: 20px 24px;
}

.page-header > .logo {
	margin-right: 93px;
}

.contacts-nav {
	margin-left: auto;
}

.list-wrap {
	padding: 20px 24px;
}

.footer-logo {
	display: block;
	margin-top: 0;
	margin-bottom: 20px;
	font-family: Raleway, sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	letter-spacing: 0.03em;
	color: var(--white-color);
}
.footer-container {
	max-width: 1600px;
	height: 252px;
	margin-left: auto;
	margin-right: auto;
}
.footer-address-links > li {
	margin-bottom: 8px;
}

/*Icons*/

.header-icon {
	margin-right: 10px;
	fill: currentColor;
}

.header-list-item {
	display: flex;
	align-items: center;
	color: var(--subheading-color);
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-list-item:hover,
.header-list-item:focus {
	color: var(--accent-color);
}

.address-container {
	width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 60px;
	padding-bottom: 60px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	align-items: baseline;
	justify-content: start;
}

.logo-container {
	padding-left: 0;
	padding-right: 70px;
	padding-top: 0;
	padding-bottom: 0;
	margin-left: 0;
	margin-right: 0;
}

.footer-contacts-text {
	text-transform: uppercase;
	color: var(--white-color);
	font-family: Roboto, sans-serif;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
}

.footer-icon {
	fill: var(--white-color);
}

.footer-button {
	margin-top: 0;
	margin-bottom: 0;
	list-style: none;
}

.footer-button:not(:last-child) {
	margin-right: 10px;
}

.contacts-footer {
	margin-left: 0px;
	margin-right: 93px;
}

.footer-button-list {
	display: flex;
	align-items: center;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 0;
	padding-left: 0;
}

.footer-contacts-text {
	margin-top: 0;
	margin-bottom: 20px;
}

.footer-button-link {
	text-decoration: none;
}

.button-in-footer {
	width: 44px;
	height: 44px;
	border-radius: 50%;
	border-style: none;
	background-color: var(--social-link-footer);
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-button-link > .button-in-footer:hover,
.footer-button-link > .button-in-footer:focus {
	background-color: var(--accent-color);
}

.our-clients-section {
	padding-top: 94px;
	padding-bottom: 94px;
	margin-top: 0;
	margin-bottom: 0;
}

.our-clients-list {
	/*margin-left: 0;
	margin-right: 0;*/
	list-style: none;
	padding-left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 0;
	margin-bottom: 0;
}

.our-clients-list-item {
	width: 170px;
	height: 90px;
	background-color: var(--white-color);
	border: 1px solid var(--our-clients-section);
	border-radius: 4px;
	padding-left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-clients-list-item:not(:last-child) {
	margin-right: 30px;
}

.our-clients-link {
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
}

.our-clients-icon {
	fill: var(--our-clients-section);
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-clients-list-item:focus .our-clients-icon,
.our-clients-list-item:hover .our-clients-icon {
	fill: var(--accent-color);
}

.our-clients-list-item:focus,
.our-clients-list-item:hover {
	border-color: var(--accent-color);
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.backdrop {
	background-color: var(--modal-window-backdrop);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.backdrop.is-hidden {
	opacity: 0;
	pointer-events: none;
	visibility: hidden;
}

.modal {
	max-width: 528px;
	min-height: 581px;
	background-color: var(--white-color);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.modal-form {
	padding: 40px;
	position: relative;
}

.modal-form-block {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 12px;
	margin-bottom: 20px;
}

.modal-button {
	position: absolute;
	top: 8px;
	right: 8px;
	width: 30px;
	height: 30px;
	background-color: var(--white-color);
	fill: var(--black);
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 50%;
	z-index: 1;
	display: flex;
	align-items: center;
}

.modal-button:hover .modal-button-icon,
.modal-button:focus .modal-button-icon {
	cursor: pointer;
	fill: var(--accent-color);
}

.modal-form-heading {
	font-weight: 700;
	font-size: 20px;
	line-height: 1.15;
	text-align: center;
	color: var(--subheading-color);
}

.modal-form-field {
	width: 100%;
	margin-bottom: 10px;
	z-index: 1;
}

/*.modal-form-field:focus .modal-form-input,
.modal-form-field:hover .modal-form-input,
.modal-form-input:focus-within {
	border-color: var(--accent-color);
	outline: none;
}

.modal-form-field:focus .modal-form-field-icon,
.modal-form-field:hover .modal-form-field-icon,
.modal-form-input:focus-within + .modal-form-field-icon {
	fill: var(--accent-color);
} */

.modal-form-field .modal-form-input:focus,
.modal-form-field .modal-form-input:hover {
	border-color: var(--accent-color);
	outline: none;
}

.modal-form-input:focus + .modal-form-field-icon,
.modal-form-input:hover + .modal-form-field-icon {
	fill: var(--accent-color);
}

.input-container {
	position: relative;
}

.modal-form-field-icon {
	position: absolute;
	top: 50%;
	left: 12px;
	transform: translateY(-50%);
	z-index: 1;
	display: inline-block;
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input {
	width: 448px;
	height: 40px;
	border: 1px solid var(--modal-form-field);
	box-sizing: border-box;
	border-radius: 4px;
	outline: none;
	padding-left: 42px;
	padding-top: 12px;
	padding-bottom: 12px;
	color: var(--text-color);
	transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input.comment {
	height: 120px;
	resize: none;
	outline: none;
	padding-left: 16px;
	padding-top: 12px;
	padding-bottom: 12px;
}

.modal-form-input.comment::placeholder {
	color: var(--textarea-placeholder);
}

.modal-form-label {
	font-size: 12px;
	line-height: 1.17;
	letter-spacing: 0.01em;
	color: var(--text-color);
	margin-bottom: 4px;
}

.sign-up-form {
}

.sign-up-label {
	display: inline-block;
	margin-top: 0;
	margin-bottom: 20px;
	text-transform: uppercase;
	color: var(--white-color);
	font-weight: 700;
	line-height: 1.71;
	letter-spacing: 0.03em;
}

.sign-up-button {
	padding: 10px 28px;
	margin-left: 12px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	fill: var(--white-color);
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1),
		fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sign-up-button:hover,
.sign-up-button:focus {
	color: var(--accent-color);
	background-color: var(--white-color);
}

.sign-up-button:hover .sign-up-icon,
.sign-up-button:focus .sign-up-icon {
	color: var(--accent-color);
	background-color: var(--white-color);
	fill: var(--accent-color);
}
.sign-up-icon {
	margin-left: 10px;
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sign-up-input::placeholder {
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 0;
	padding-right: auto;
	color: var(--address);
	font-size: 16px;
	line-height: 1.25;
}

.sign-up-input {
	display: inline-block;
	width: 358px;
	height: 50px;
	background-color: var(--background);
	border: 1px solid var(--sign-up-border-color);
	box-sizing: border-box;
	border-radius: 4px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
	padding-right: auto;
	outline: none;
	color: var(--address);
	font-size: 16px;
	line-height: 1.25;
}

.terms {
	color: var(--text-color);
	padding-left: 23px;
}

.terms > a {
	color: var(--accent-color);
}

.modal-form-submit-button {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	text-align: center;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.87;
	color: var(--white-color);
	background-color: var(--accent-color);
	letter-spacing: 0.06em;
	border-radius: 4px;
	border: 1px solid transparent;
	min-width: 200px;
	height: 50px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-submit-button:hover,
.modal-form-submit-button:focus {
	cursor: pointer;
}

.checkbox-form-field {
	display: flex;
	align-items: center;
	position: relative;
}

.checkbox {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	position: absolute;
}

/*
.checkbox-icon {
	display: inline-block;
	width: 16px;
	height: 15px;
	border: 2px solid var(--subheading-color);
	border-radius: 4px;
	z-index: 1;
	margin-right: 7px;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .checkbox-icon {
	background-color: var(--accent-color);
	border-color: var(--accent-color);
	background-image: url('../images/icon-checkbox.svg');
	background-size: contain;
	background-origin: content-box;
} */

.checkbox-label::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	display: inline-block;
	width: 16px;
	height: 15px;
	border: 2px solid var(--subheading-color);
	border-radius: 4px;
	z-index: 1;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
		background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .checkbox-label::before {
	background-color: var(--accent-color);
	border-color: var(--accent-color);
	background-image: url("../images/icon-checkbox.svg");
	background-size: contain;
	background-origin: border-box;
}
